<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Client info</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<style>
		.order { background-color: black; color: white;}
	</style>
</head>
<body>

	<h3 th:text="${client.name + ' ' + client.lastName}"></h3>
	
	<p th:text="'Birthday: ' + ${client.birthday}"></p>
	<p th:text="'Email: ' + ${client.email}"></p>
	<p th:text="'Country: ' + ${client.country}"></p>
	
	<div class="order" th:each="o : ${client.orders}">
		<p th:text="'Order: #' + ${o.id}"></p>
		
			<div th:each="p : ${o.orderProducts}">
			
				<p th:text="'Product: ' + ${p.name}"></p>
				<p th:text="'Price: ' + ${p.price}"></p>
			
			</div>
		
		<p th:text="'Total: ' + ${o.total}"></p>
	</div>
	
	
</body>
</html>